{% extends 'base.html' %}

    {% block title %}RPG Management System{% endblock %}
    {% block header %}Welcome to your RPG Management System Home Page{% endblock %}

    {% block content %}
        <!-- Insert page contents here --> 
        <div class="container">
            <div class="row mb-4">

                <div class="image-with-text"> 
                   <!-- <img src="..\static\images\Pace_Academy_Home_Page_Hero.webp" class="col-lg-4 col-md-10 col-sm-6 float-md-start rounded-1 mb-4" alt="Pace Academy Hero image"> -->

                    <h5 class="pt-4" style="color: #054676;">
                    <strong>Welcome to your RPG Management System!</strong>
                    </h5>
                    <p class="home text-muted text-justify-custom pt-2"> 
                    [insert site description]
                    </p>
                </div>

                <div class="container-fluid pt-1 d-block">
                </div>

                <div class="container-fluid">
    <div class="cards-row home-card">

        <div class="card-type col-sm">
            <div class="container-fluid pb-3">
                <h5 class="card-title">NPCs</h5>
                <p class="card-text">
                    View and manage non-player characters.
                </p>
            </div>
            <div class="container-fluid">
                <a type="button" href="/npcs/" class="button-pa">NPCs</a>
            </div>
        </div>

        <div class="card-type col-sm">
            <div class="container-fluid pb-3">
                <h5 class="card-title">Weapons</h5>
                <p class="card-text">
                    View and manage all weapons.
                </p>
            </div>
            <div class="container-fluid">
                <a type="button" href="/weapons/" class="button-pa">Weapons</a>
            </div>
        </div>

        <div class="card-type col-sm">
            <div class="container-fluid pb-3">
                <h5 class="card-title">Armour</h5>
                <p class="card-text">
                    View and manage armour items.
                </p>
            </div>
            <div class="container-fluid">
                <a type="button" href="/armour/" class="button-pa">Armour</a>
            </div>
        </div>

        <div class="card-type col-sm">
            <div class="container-fluid pb-3">
                <h5 class="card-title">Spells</h5>
                <p class="card-text">
                    View and manage spells.
                </p>
            </div>
            <div class="container-fluid">
                <a type="button" href="/spells/" class="button-pa">Spells</a>
            </div>
        </div>

        <div class="card-type col-sm">
            <div class="container-fluid pb-3">
                <h5 class="card-title">Characters</h5>
                <p class="card-text">
                    View and manage player characters.
                </p>
            </div>
            <div class="container-fluid">
                <a type="button" href="/characters/" class="button-pa">Characters</a>
            </div>
        </div>


        <div class="card-type col-sm">
            <div class="container-fluid pb-3">
                <h5 class="card-title">Players</h5>
                <p class="card-text">
                    View and manage players.
                </p>
            </div>
            <div class="container-fluid">
                <a type="button" href="/players/" class="button-pa">Players</a>
            </div>
        </div>

    </div>
</div>
            </div>
        </div>
    {% endblock %}